@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Josefin+Sans:300,400,700|Merienda:400,700|Roboto+Condensed:400,700|Shojumaru|Source+Sans+Pro:300,400,700,900&display=swap');

.font-josefin-san {
    font-family: 'Source Sans Pro', sans-serif;
}
.font-josefin-san {
    font-family: 'Josefin Sans', sans-serif;
}
.font-merienda {
    font-family: 'Merienda', cursive;
}
.font-berkshire-swash {
    font-family: 'Berkshire Swash', cursive;
}
.font-shojumaru {
    font-family: 'Shojumaru', cursive;
}


.App {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

/*######################## APP HEADER ###########################*/
.brandLogo {
    background-image: url("./assets/images/logos/skull-muzik.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 64px;
    height: 64px;
}
.searchFormContainer {
    position: fixed;
    margin-top: -180px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


/*######################## LANDING PAGE ###########################*/
.logoImage {
    background-image: url("./assets/images/logos/skull-muzik.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
}
.input-form {
    margin-top: 100px;
}


/*######################## LANDING PAGE ###########################*/
.vdivide [class*='col-']:not(:last-child):after {
    background: #ccc9c6;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}

